@CHARSET "UTF-8";

.ztree li span.button.manager_ico_docu{background:url(./images/user_manager.png);_background:url(./images/user_manager.gif);}

.ztree li span.button.emp_ico_docu{background:url(./images/user_male.png);_background:url(./images/user_male.gif);}

.ztree li span.button.dept_ico_docu {background: url(./images/ex.png) no-repeat scroll 0 -192px transparent;}

.ztree li span.button.pos_ico_docu {background: url(./images/user_male.png);_background: url(./images/user_male.gif);}
